
._*


.Spotlight-V100
.Trashes

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec


pip-log.txt
pip-delete-this-directory.txt


target/



*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3


/node_modules
frontend/node_modules
/.pnp
.pnp.js


/coverage


/build


.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
